<%- include("partials/header") %>

<div class="container about">
  <h1 class="about-header">About us</h1>
  <br />
  <p class="lead">
    This website was designed and developed by
    <a href="https://caevee.gq" rel="noopener">Caevee</a> and is part of a
    multiplatform project in collaboration with
    <a href="https://github.com/LucaKaufmann" rel="noopener">Hotky</a>.
    <br /><br />This website is not endorsed by Riot Games and doesn’t reflect
    the views or opinions of Riot Games or anyone officially involved in
    producing or managing League of Legends. League of Legends and Riot Games
    are trademarks or registered trademarks of Riot Games, Inc. League of
    Legends © Riot Games, Inc. As an Amazon Associate I earn from qualifying
    purchases.
  </p>
  <br />
  <h1 class="about-header">Credits</h1>
  <br />
  <p class="lead">
    The most important credit goes obviously to Riot Games who developed and
    published Valorant, the game this website is about.
    <br />
    <br />
    Icons were provided by
    <a href="https://valorantstats.one/for-creators" rel="noopener">ValorantStats1</a>
    <br />
    Valorant looking font was provided by
    <a href="https://www.reddit.com/r/VALORANT/comments/g0747t/valorant_font/">Brylark</a>
  </p>
  <br />
  <h1 class="about-header">Community</h1>
  <br />
  <p class="lead">
    This project aims to be community driven and the data set used to provide
    clips to the lineups will be provided by the community.
    <br />
    Want to contribute? Join our <a href="https://discord.gg/jtqTHs2" target="_blank" rel="noopener">Discord</a> now and
    send us your
    favourite lineup!
  </p>
  <br />
  <h1 class="about-header">Donations</h1>
  <br />
  <p class="lead">
    Since our webserver and domain needs to be paid we wouldn't mind accepting
    donations from our community. The money will be saved and only used for the
    server technology or other stuff benefiting the project.
    <br>
    We don't have a donation link yet so if you want to donate just join the <a href="https://discord.gg/jtqTHs2"
      target="_blank" rel="noopener">Discord</a> and we'll notify once it's
    available.
  </p>
  <br />
  <h1 class="about-header">Discord</h1>
  <br />
  <p class="lead">You can join our Discord server <a href="https://discord.gg/jtqTHs2" target="_blank"
      rel="noopener">here</a></p>
</div>

<%- include("partials/footer") %>