@font-face {
  font-family: "Valorant";
  src: url("/fonts/Valorant.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ebe8e2;
  color: #111920;
  font-family: "Montserrat", sans-serif;
}

footer {
  background-color: #111920;
  color: #ebe8e2;
}

footer div {
  color: #ea575b;
}

footer a {
  color: #ebe8e2;
}

footer a:hover {
  text-decoration: none;
  color: #ebe8e2;
}

.jumbotron {
  background-color: #111920;
  font-family: "Valorant", sans-serif;
}

.jumbotron h1 {
  color: #ea575b;
}

.jumbotron p {
  color: #ebe8e2;
}

.card {
  background: none;
  border: none;
}

.card:hover {
  cursor: pointer;
}

.card-title {
  text-align: center;
}

h1 a {
  color: #ea575b;
}

h1 a:hover {
  color: #ea575b;
  text-decoration: none;
}

/* Footer */

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #111920;
}
