@font-face {
  font-family: "Valorant";
  src: url("/fonts/Valorant.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ebe8e2;
  color: #111920;
  font-family: "Montserrat", sans-serif;
}

footer {
  background-color: #111920;
  color: #ebe8e2;
}

footer div {
  color: #ea575b;
}

footer a {
  color: #ebe8e2;
}

.lead a {
  color: #ea575b;
}

footer a:first-child {
  margin-right: 5%;
}

footer a:hover,
.lead a:hover {
  text-decoration: none;
  color: #ea575b;
}

.jumbotron {
  background-color: #111920;
  font-family: "Valorant", sans-serif;
}

.jumbotron h1 {
  color: #ea575b;
}

.jumbotron p {
  color: #ebe8e2;
}

.card {
  background: none;
  border: none;
}

.card:hover {
  cursor: pointer;
}

.card-title {
  text-align: center;
}

h1 a {
  color: #ea575b;
}

h1 a:hover {
  color: #ea575b;
  text-decoration: none;
}

/* Footer */

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #111920;
}

.nav-link {
  color: #ea575b;
  font-weight: 700;
}

.nav-link:hover {
  color: #111920;
}

/* IDK why the fuck they still have a blue outline.. gotta fix later*/
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus,
.btn-secondary:active:focus {
  background-color: #111920 !important;
  border-color: #111920 !important;
  color: #ea575b;
  font-weight: 700;
}

.about {
  margin-top: 50px;
  margin-bottom: 130px;
}

.about-header {
  font-family: "Valorant", sans-serif;
  color: #ea575b;
}
